.avatar {
	border-radius: 30px;
	height: 64px;

}

#avatar {
		padding-top:10px;
	width: 100px;
	display: inline-block;
}

li {
	font-style: bold;
	font-size: 40px;
}

.footer {
	display:inline-block;
}

#links {
	position: absolute;
	top:30px;
	display:inline-block;
	padding-top:-10px;
}
.button {
	animation-name: appear;
	animation-duration: 2s;
}

.text {
	text-align: center;
	 margin: auto;
  width: 50%;
  padding: 10px;
}

.page_1 {
	padding-top: 10px;
}

body {
	animation-name: appear;
	animation-duration: 2s;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);



.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);

}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.blur_appear {
	animation: appear 3s;
}


@keyframes appear {
	from {filter: blur(100px);}
	to{filter: blur(1px);}
}
@keyframes disappear {
	from {filter: blur(1px); opacity: 0; }
	to{filter: blur(100px); opacity: 1;  }
}
.hidden {
 list-style-type: none;
}

.delay {
	animation-delay: 5s;
}


.page_2 {

margin-top: 1000px;
}

.card {
  /* Add shadows to create the "card" effect */
  	display: table-cell;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 400px;
  height: 540px;
	border-radius: 2px;
}
.project {
		border-radius: 2px;
		width: 400px;
		height: 225px;

}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
	width: 400px;
	height: 225px;
}

.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column {
    display: table-cell;

}

.not_visible {
	visibility: hidden;
}
.visible {
	visibility: visible;
}
